.idea
.vscode
.scratch
build
builds
docs/.vuepress/dist
logs
node_modules
prebuilds
.env
*.DS_Store
*.iml
*.log
examples/**/.DS_Store
npm-debug.log*
stacktrace*
binding.gyp
uiohook.gyp

libuiohook/nbproject/
libuiohook/build/
libuiohook/autom4te.cache/
libuiohook/config/
libuiohook/cmake/
libuiohook/include/config.h.in*
libuiohook/m4/ltoptions.m4
libuiohook/m4/ltversion.m4
libuiohook/m4/libtool.m4
libuiohook/m4/ltsugar.m4
libuiohook/m4/lt~obsolete.m4
libuiohook/Makefile.in
libuiohook/configure
libuiohook/aclocal.m4

libuiohook/CMakeFiles/
libuiohook/demo_hook_async.dir/
libuiohook/demo_hook.dir/
libuiohook/demo_post.dir/
libuiohook/demo_properties.dir/
libuiohook/Release/
libuiohook/uiohook.dir/
libuiohook/*.vcxproj
libuiohook/*.vcxproj.filters
libuiohook/*.cmake
libuiohook/*.sln
