.idea/
.vscode/
.scratch/
build/
builds/
docs/.vuepress/dist/
logs/
node_modules/
prebuilds/
libuiohook/
.github/
CMakeFiles/
docs/
examples/
test/
.env
*.DS_Store
*.iml
*.log
npm-debug.log*
stacktrace*
/binding.gyp
/uiohook.gyp
.lintignore
.eslintrc.json
.prettierrc.json
_config.yml
